{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{%
  set banner_classes = [
    'banner',
    'banner__content-background',
    banner_image_class,
  ]
%}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col') }}>
  {{ title_suffix.contextual_links }}
  <div{{ content_attributes.addClass(banner_classes) }}>
    <div class="container d-flex align-items-center">
      <div class="banner__wrapper m-0">
      {{ ds_content }}
      </div>
    </div>
    {% if bg_image is defined and bg_image %}
      <div class="banner__image" style="background-image: url({{ bg_image }});"></div>
    {% endif %}
  </div>

</{{ ds_content_wrapper }}>
